@import '../../styles/settings.scss';

@import '../../styles/settings.scss';

.listForm {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.inputStyle {
  padding: 10px;
  border-radius: 6px;
}

.inputText {
  padding: 10px;
}